entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "streamlit run app.py --server.address=0.0.0.0 --server.port=8080"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Streamlit"

[[workflows.workflow]]
name = "Streamlit"
author = 39890855

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.address=0.0.0.0"

[[ports]]
localPort = 8501
externalPort = 80